h2{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:xx-large;
    text-align:center;
    color:crimson;

}
div{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: xx-large;
    text-align: center;
    color:navy;

}